body {
  background: papayawhip;
}
*{
  border: solid 2px cornflowerblue;
}

.c{
  background-color: chartreuse;
}
.d{
  background-color: darkorchid;

}
.e{
  background-color: yellow;
}
footer{
  background-color: fuchsia;
}
/* styles and formating below */
nav, aside, footer, .content{
  flex-grow: 1;
  margin: .5em;
  max-height: 150px;
}  

aside{
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 50px;

}
aside > div {
  flex-grow: 10;
  margin: .5em;
  min-width: 50px;
}
nav{
  background-color: aqua;
}
main{
  background-color: brown;
  width: 90%;
  flex-grow: 3;
}

.container{
  display: flex;
  min-height: 900px;
  flex-direction: column;
  justify-content: space-between;

}
.content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 850px;
}



/* only for screens 600 px and up */
@media (min-width: 600px){
  .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content{
      flex-basis: 70%;
      min-height:  900px;
  }
  
  nav{
    width: 100%;
    max-height: 20px;
   
  }
  
  footer{
    margin: .5em;
    flex-grow: 3;
    min-height: 1000px;
}
  
}



